<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic}">

<th:block layout:fragment="title">
    <title>This page is a project page</title>
</th:block>

<th:block layout:fragment="search">
    <a href="/main">
        <span>
            <h2>진행중인 프로젝트</h2>
        </span>
    </a>
    <div th:replace="fragments/common :: searchProject"></div>
</th:block>

<th:block layout:fragment="content">
    <div class="table-responsive clearfix">

        <table class="table table-hover">
            <thead>
            <tr>
                <th>프로젝트 이름</th>
                <th>시작일</th>
                <th>종료일</th>
                <th>pm</th>
                <th>고객사</th>
                <th>수주액</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
<!--            빈 프로젝트가 있는지 확인하는 부분-->

            <tr th:each="elem: ${ProjectDe}">
                <td th:text="${elem.pr_name}"></td>
                <td th:text="${elem.pr_start_date}"></td>
                <td th:text="${elem.pr_end_date}"></td>
                <td th:text="${elem.pr_pm_name}"></td>
                <td th:text="${elem.pr_client}"></td>
                <td th:text="${elem.pr_price}"></td>

                <form method="get"th:action="@{project/projectDescription/${elem.pr_id}}" >
                <input type="hidden" th:value="${elem.pr_id}" name="pr_id">
                </form>

                <td>
                    <button type="submit" class="pChoose"  th:value="${elem.pr_id}" th:id="|pChoose${elem.pr_id}|" >자세히</button>
                </td>
                <td>
                    <a th:href="@{/project/projectUpdate/{path}(path = ${elem.pr_id})}">수정</a>
                </td>

            </tr>
            <tr th:unless="${not #lists.isEmpty( ProjectDe )}">
                <td colspan="6">조회된 결과가 없습니다.</td>
            </tr>
            </tbody>
        </table>

        <th:block layout:fragment="paging">
            <nav th:replace="fragments/common :: pagination"></nav>
        </th:block>
    </div>
    <button onClick="location.href='project/projectTermination'">종료된 프로젝트 보기 </button>
</th:block>


</div>
</body>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        /*<![CDATA[*/

        $('.pChoose').on('click', (e) => {
            console.log(e.target.value);
            // const url = _ctx + "project/projectDescription/" + e.target.value;
            // window.location.href = url;
            location.href="project/projectDescription/"+e.target.value ;

        })

        // ${"#submitPr_id"}.attr("action",'');

        function movePage(uri, queryString) {
            location.href = uri + queryString;
        }

        function searchProject(form) {
            /*[- 드롭다운이 아닌 메인 검색 키워드로 검색했을 때 -]*/
            if (isEmpty(form) == true) {
                var searchKeyword = document.getElementById("projectSearchKeyword");
                if (isEmpty(searchKeyword.value) == true) {
                    alert("키워드를 입력해 주세요.");
                    searchKeyword.focus();
                    return false;
                }

                form = document.getElementById("projectSearchForm");
                form.searchKeyword.value = searchKeyword.value;
                form.submit();
            }

            // 드롭박스에서 키워드 없을 경우
            if (isEmpty(form.searchKeyword.value) == true) {
                // 시작일, 종료일까지 없을 경우
                if (isEmpty(form.startDate.value) == true && isEmpty(form.endDate.value) == true && isEmpty((form.searchKeyword.value) == true)) {
                    alert("키워드를 입력해 주세요.");
                    form.searchKeyword.focus();
                    return false;
                }
            }
        }

    </script>
</th:block>
</html>