<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/basic}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block>
        <link type="text/css" rel="stylesheet" th:href="@{/css/index.css}">
    </th:block>
</head>
<body>
<th:block layout:fragment="content">
<div layout:fragment="page_content" id="page_content">
    <div class="container">
        <div class="content">
            <h2>프로젝트</h2>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>프로젝트 이름</th>
                    <th>시작일</th>
                    <th>종료일</th>
                    <th>pm</th>
                    <th>고객사</th>
                    <th>수주액</th>

                </tr>
                </thead>
                <tbody>
                <!--            빈 프로젝트가 있는지 확인하는 부분-->

                <tr th:each="elem: ${AProject}">
                    <td th:text="${elem.pr_name}"></td>
                    <td th:text="${elem.pr_start_date}"></td>
                    <td th:text="${elem.pr_end_date}"></td>
                    <td th:text="${elem.pr_pm}"></td>
                    <td th:text="${elem.pr_client}"></td>
                    <td th:text="${elem.pr_price}"></td>

                </tr>

                <tr th:unless="${not #lists.isEmpty( AProject )}">
                    <td colspan="6">조회된 결과가 없습니다.</td>
                </tr>
                </tbody>
            </table>


            <table>
                <thead>
                <tr>
                    <th>사번</th>
                    <th>이름</th>
                    <th>업무내용</th>
                    <th>착수알자</th>
                    <th>종료알자</th>
                    <th>직무</th>
                </tr>
                </thead>
                <tbody id="clientList">

                </tbody>
            </table>
            <button id="addn" onclick="addInput()">추가</button>
            <button id="minus" >빼기</button>
            <button id="submiit" type="submit">제출</button>

<!--            <button class="ss" type="button" id="add"  onclick="" >직원추가</button>-->



        </div>
    </div>
</div>

</th:block>
</body>




<div layout:fragment="script_area">

    <script th:src="@{/js/projectInsert.js}"></script>
    <script th:inline="javascript">

    </script>
</div>
</html>