<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/base}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--    <meta name="context-path" th:content="@{/}"/>-->
    <meta th:name="_csrf_token" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header_name" th:content="${_csrf.headerName}"/>

    <link rel="stylesheet" th:href="@{/ext/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/ext/font-awesome/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/ext/sweetalert2/css/sweetalert2.min.css}">
    <link rel="stylesheet" th:href="@{/css/common/common.css}">
</head>
<body>
<div layout:fragment="page_content" id="page_content">
<h4>
    <span th:text="${userName}"></span>
    <span>님 프로필</span>
</h4>
</div>
</body>
</html>