<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<nav th:fragment="pagination" th:if="${params != null and params.paginationInfo.totalRecordCount > 0}" th:object="${params.paginationInfo}" th:with="info=${params.paginationInfo}" aria-label="Page navigation" class="text-center">
    <ul class="pagination">
        <li th:if="*{hasPreviousPage == true}" th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${params.makeQueryString(1)} ]])">
            <a href="javascript:void(0)" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
        </li>
        <li th:if="*{hasPreviousPage == true}" th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${params.makeQueryString(info.firstPage - 1)} ]])">
            <a href="javascript:void(0)" aria-label="Previous"><span aria-hidden="true">&lsaquo;</span></a>
        </li>
        <li th:each="pageNo : *{#numbers.sequence( firstPage, lastPage )}" th:class="${pageNo == params.currentPageNo} ? 'active'">
            <a href="javascript:void(0)" th:text="${pageNo}" th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${params.makeQueryString(pageNo)} ]])"></a>
        </li>
        <li th:if="*{hasNextPage == true}" th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${params.makeQueryString(info.lastPage + 1)} ]])">
            <a href="javascript:void(0)" aria-label="Next"><span aria-hidden="true">&rsaquo;</span></a>
        </li>
        <li th:if="*{hasNextPage == true}" th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${params.makeQueryString(info.totalPageCount)} ]])">
            <a href="javascript:void(0)" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
        </li>
    </ul>
</nav>

<div th:fragment="search" id="adv-search" class="input-group">
    <input type="text" id="mainSearchKeyword" class="form-control" th:value="${params.searchKeyword}" placeholder="키워드를 입력해 주세요." />
    <div class="input-group-btn">
        <div class="btn-group" role="group">
            <div class="dropdown dropdown-lg">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                <div class="dropdown-menu dropdown-menu-right" role="menu">
                    <!--/* 검색 form */-->
                    <form id="searchForm" th:action="@{/employee/list}" method="get" th:onsubmit="return searchEmployee(this)" class="form-horizontal" role="form">
                        <!-- /* 현재 페이지 번호, 페이지당 출력할 데이터 개수, 페이지 하단에 출력할 페이지 개수 Hidden 파라미터 */ -->
                        <input type="hidden" name="currentPageNo" value="1" />
                        <input type="hidden" name="recordsPerPage" th:value="${params.recordsPerPage}" />
                        <input type="hidden" name="pageSize" th:value="${params.pageSize}" />

                        <div class="form-group">
                            <label for="filter">검색 유형</label>
                            <select name="searchType" class="form-control">
                                <option value="" th:selected="${#strings.isEmpty( params.searchType )}">전체</option>
                                <option value="e_id" th:selected="${#strings.equals( params.searchType, 'e_id' )}">사번</option>
                                <option value="e_name" th:selected="${#strings.equals( params.searchType, 'e_name' )}">이름</option>
                                <option value="academic_level" th:selected="${#strings.equals( params.searchType, 'academic_level' )}">학력</option>
                                <option value="department" th:selected="${#strings.equals( params.searchType, 'department' )}">부서</option>

                            </select>
                        </div>
                        <div class="form-group">
                            <label for="contain">키워드</label>
                            <input type="text" name="searchKeyword" class="form-control" th:value="${params.searchKeyword}" />
                        </div>
                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </form>
                </div>
            </div>
            <button type="button" class="btn btn-primary" onclick="searchEmployee(null)"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </div>
    </div>
</div>

<div th:fragment="searchProject" id="project-search" class="input-group">
    <input type="text" id="projectSearchKeyword" class="form-control" th:value="${params.searchKeyword}" placeholder="키워드를 입력해 주세요." />
    <div class="input-group-btn">
        <div class="btn-group" role="group">
            <div class="dropdown dropdown-lg">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                <div class="dropdown-menu dropdown-menu-right" role="menu">
                    <!--/* 검색 form */-->
                    <form id="projectSearchForm" th:action="@{/main}" method="get" th:onsubmit="return searchProject(this)" class="form-horizontal" role="form">
                        <!-- /* 현재 페이지 번호, 페이지당 출력할 데이터 개수, 페이지 하단에 출력할 페이지 개수 Hidden 파라미터 */ -->
                        <input type="hidden" name="currentPageNo" value="1" />
                        <input type="hidden" name="recordsPerPage" th:value="${params.recordsPerPage}" />
                        <input type="hidden" name="pageSize" th:value="${params.pageSize}" />

                        <div class="form-group">
                            <label for="filter">검색 유형</label>
                            <select name="searchType" class="form-control">
                                <option value="" th:selected="${#strings.isEmpty( params.searchType )}">전체</option>
<!--                                <option value="e_id" th:selected="${#strings.equals( params.searchType, 'e_id' )}">사번</option>-->
                                <option value="pr_name" th:selected="${#strings.equals( params.searchType, 'pr_name' )}">프로젝트 이름</option>
                                <option value="pr_pm" th:selected="${#strings.equals( params.searchType, 'pr_pm' )}">PM</option>
                                <option value="pr_client" th:selected="${#strings.equals( params.searchType, 'pr_client' )}">고객사</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="contain">키워드</label>
                            <input type="text" name="searchKeyword" class="form-control" th:value="${params.searchKeyword}" />
                        </div>
<!--                        날짜검색 시작-->
                        <div class="form-group">
                            <label for="contain">시작일</label>
                            <input type="text" name="startDate" class="form-control" th:value="${params.startDate}" placeholder="YYYY-MM-DD 형식으로 입력해주세요."/>
                        </div>
                        <div class="form-group">
                            <label for="contain">종료일</label>
                            <input type="text" name="endDate" class="form-control" th:value="${params.endDate}" placeholder="YYYY-MM-DD 형식으로 입력해주세요."/>
                        </div>
<!--                        날짜검색 끝-->
                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </form>
                </div>
            </div>
            <button type="button" class="btn btn-primary" onclick="searchProject(null)"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </div>
    </div>
</div>

<div th:fragment="searchProjectT" id="projectT-search" class="input-group">
    <input type="text" id="projectTSearchKeyword" class="form-control" th:value="${params.searchKeyword}" placeholder="키워드를 입력해 주세요." />
    <div class="input-group-btn">
        <div class="btn-group" role="group">
            <div class="dropdown dropdown-lg">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                <div class="dropdown-menu dropdown-menu-right" role="menu">
                    <!--/* 검색 form */-->
                    <form id="projectTSearchForm" th:action="@{/project/projectTermination}" method="get" th:onsubmit="return searchProject(this)" class="form-horizontal" role="form">
                        <!-- /* 현재 페이지 번호, 페이지당 출력할 데이터 개수, 페이지 하단에 출력할 페이지 개수 Hidden 파라미터 */ -->
                        <input type="hidden" name="currentPageNo" value="1" />
                        <input type="hidden" name="recordsPerPage" th:value="${params.recordsPerPage}" />
                        <input type="hidden" name="pageSize" th:value="${params.pageSize}" />

                        <div class="form-group">
                            <label for="filter">검색 유형</label>
                            <select name="searchType" class="form-control">
                                <option value="" th:selected="${#strings.isEmpty( params.searchType )}">전체</option>
                                <!--                                <option value="e_id" th:selected="${#strings.equals( params.searchType, 'e_id' )}">사번</option>-->
                                <option value="pr_name" th:selected="${#strings.equals( params.searchType, 'pr_name' )}">프로젝트 이름</option>
                                <option value="pr_pm" th:selected="${#strings.equals( params.searchType, 'pr_pm' )}">PM</option>
                                <option value="pr_client" th:selected="${#strings.equals( params.searchType, 'pr_client' )}">고객사</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="contain">키워드</label>
                            <input type="text" name="searchKeyword" class="form-control" th:value="${params.searchKeyword}" />
                        </div>
                        <!--                        날짜검색 시작-->
                        <div class="form-group">
                            <label for="contain">시작일</label>
                            <input type="text" name="startDate" class="form-control" th:value="${params.startDate}" placeholder="YYYY-MM-DD 형식으로 입력해주세요."/>
                        </div>
                        <div class="form-group">
                            <label for="contain">종료일</label>
                            <input type="text" name="endDate" class="form-control" th:value="${params.endDate}" placeholder="YYYY-MM-DD 형식으로 입력해주세요."/>
                        </div>
                        <!--                        날짜검색 끝-->
                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </form>
                </div>
            </div>
            <button type="button" class="btn btn-primary" onclick="searchProject(null)"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </div>
    </div>
</div>


</html>