<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/base}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!--    <th:block>-->
    <!--        <link type="text/css" rel="stylesheet" th:href="@{/css/index.css}">-->
    <!--    </th:block>-->
</head>
<body>
<div layout:fragment="page_content" id="page_content">

    <h1>여기 죽였습니다. 원래 메인화면이었는데 프로젝트 show화면으로 바꿨어욤</h1>

</div>
</body>
</html>