<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CommonMapper">

    <!-- MySQL 페이징 -->
    <sql id="paging">
        LIMIT
        #{paginationInfo.firstRecordIndex}, #{recordsPerPage}
    </sql>

    <!-- MySQL 검색 -->
    <sql id="search">
        <!-- 검색 키워드가 있을 때 -->
        <if test="searchKeyword != null and searchKeyword != ''">
            <choose>
                <!-- 검색 유형이 있을 때 -->
                <when test="searchType != null and searchType != ''">
                    <choose>
                        <when test="'e_id'.equals(searchType)">
                            --                             AND
                            WHERE e_id LIKE CONCAT('%', #{searchKeyword}, '%')
                        </when>
                        <when test="'e_name'.equals(searchType)">
--                             AND
                            WHERE e_name LIKE CONCAT('%', #{searchKeyword}, '%')
                        </when>
                        <when test="'academicLevel'.equals(searchType)">
--                             AND
                            WHERE academic_level LIKE CONCAT('%', #{searchKeyword}, '%')
                        </when>
                        <when test="'department'.equals(searchType)">
--                             AND
                            WHERE department LIKE CONCAT('%', #{searchKeyword}, '%')
                        </when>
                    </choose>
                </when>
                <!-- 검색 유형이 없을 때 -->
                <otherwise>
--                     AND
                    WHERE
                    (
                    e_id LIKE CONCAT('%', #{searchKeyword}, '%')
                    OR e_name LIKE CONCAT('%', #{searchKeyword}, '%')
                    OR academic_level LIKE CONCAT('%', #{searchKeyword}, '%')
                    OR department LIKE CONCAT('%', #{searchKeyword}, '%')
                    )
                </otherwise>
            </choose>
        </if>
    </sql>


    <sql id="projectSearch">
        <!-- 검색 키워드가 있을 때 -->
        <if test="searchKeyword != null and searchKeyword != ''">
            <choose>
                <!-- 검색 유형이 있을 때 -->
                <when test="searchType != null and searchType != ''">
                    <choose>
                        <when test="'pr_name'.equals(searchType)">
                            --                             AND
                            WHERE pr_name LIKE CONCAT('%', #{searchKeyword}, '%')
                        </when>
                        <when test="'pr_pm'.equals(searchType)">
                            --                             AND
                            WHERE pr_pm LIKE CONCAT('%', #{searchKeyword}, '%')
                        </when>
                        <when test="'pr_client'.equals(searchType)">
                            --                             AND
                            WHERE pr_client LIKE CONCAT('%', #{searchKeyword}, '%')
                        </when>

                    </choose>
                </when>
                <!-- 검색 유형이 없을 때 -->
                <otherwise>
                    --                     AND
                    WHERE
                    (
                    pr_name LIKE CONCAT('%', #{searchKeyword}, '%')
                    OR pr_pm LIKE CONCAT('%', #{searchKeyword}, '%')
                    OR pr_client LIKE CONCAT('%', #{searchKeyword}, '%')

                    )
                </otherwise>
            </choose>
        </if>
    </sql>

</mapper>