<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.project.ProjectTMapper">
    <select id="selectTProject" resultType="ProjectTDescr"  parameterType="String" statementType="CALLABLE">
        select * from project where pr_termination = 'Y';
    </select>

    <select id="getATProject" resultType="ProjectTDescr" parameterType="String" statementType="CALLABLE">
        select *
        from project
        where pr_id = #{pr_id};
    </select>
</mapper>