<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.user.UserMapper">
    <insert id="createUser" parameterType="com.example.demo.model.user.employeeDto" statementType="CALLABLE">
        { CALL inputUser(
                #{e_name},
                #{resident_num},
                #{academic_level},
                #{role},
                #{id},
                #{password},
                #{department}
            )
            }
    </insert>

    <select id="getLoginInfo" resultType="User" statementType="CALLABLE">
        { CALL selectUser(
                #{id}
            )
            }
    </select>

    <select id="getUserInfo" resultType="com.example.demo.model.user.employeeDto" parameterType="String" statementType="CALLABLE">
        {CALL selectUser(
                #{id}
            )
            }
    </select>

    <select id="getEmployeeInfo" resultType="com.example.demo.model.user.employeeDto" parameterType="String">
        SELECT *
        FROM EMPLOYEE
        WHERE e_name like '%#{e_name}%'
    </select>


    <select id="getEmployeeList" resultType="com.example.demo.model.user.employeeDto" parameterType="com.example.demo.model.user.employeeDto">
        SELECT *
        FROM EMPLOYEE
        --         WHERE
        <include refid="CommonMapper.search" />
        ORDER BY e_id ASC
        <include refid="CommonMapper.paging" />
    </select>

    <select id="getEmployeeTotalCount" resultType="int" parameterType="com.example.demo.model.user.employeeDto">
        SELECT COUNT(*)
        FROM EMPLOYEE
        --         WHERE
        <include refid="CommonMapper.search" />
    </select>

</mapper>